{% extends "GitonomyWebsiteBundle::layout.html.twig" %}

{% trans_default_domain 'ticketing_bundle' %}

{% set global_navigation = 'ticketing' %}

{% block content %}
<h1 class="with-menu">
    Ticketing
</h1>

<div id="wrapper">
    <ul id="local-menu">
        {% set slug = 'test' %}
        {% set local_navigation = 'test' %}
        <li><a href="{{ path('ticket_index') }}"{% if local_navigation == 'ticket' %} class="active"{% endif %}>{{ 'menu.ticket'|trans }}</a></li>
        <li><a href="{{ path('ticket_category_index') }}"{% if local_navigation == 'ticket_category' %} class="active"{% endif %}>{{ 'menu.ticket_category'|trans }}</a></li>
        <li><a href="{{ path('ticket_priority_index') }}"{% if local_navigation == 'ticket_priority' %} class="active"{% endif %}>{{ 'menu.ticket_priority'|trans }}</a></li>
        <li><a href="{{ path('tracker_index') }}"{% if local_navigation == 'ticket_tracker' %} class="active"{% endif %}>{{ 'menu.ticket_tracker'|trans }}</a></li>
        <li><a href="{{ path('ticket_status_index') }}"{% if local_navigation == 'ticket_status' %} class="active"{% endif %}>{{ 'menu.ticket_status'|trans }}</a></li>
    </ul>

    <div id="content" class="with-menu">
        {% block tracker_content '' %}
    </div>
</div>
{% endblock %}
