{% extends "GitonomyTicketingBundle::layout_tracker.html.twig" %}

{% trans_default_domain 'ticketing_bundle' %}

{% block tracker_content %}
    <div class="actionbar">
        <a href="{{ path('ticket_priority_create') }}" class="menu">
            <i class="symbol">add</i> {{ 'create'|trans }} {{ 'label.priority'|trans }}
        </a>

        {% if priorities %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <th>{{ 'label.score'|trans }}</th>
                    <th>{{ 'label.isActive' }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for priority in priorities %}
                    <tr>
                        <td>{{ priority.title }}</td>
                        <td>{{ priority.description }}</td>
                        <td>{{ priority.isActive }}</td>
                        <td>
                            <a rel="tooltip" class="btn btn-small" href="{{ path('ticket_priority_update', {'id': priority.id }) }}">
                                <i class="icon-edit"></i>
                            </a>
                            <a rel="tooltip" class="btn btn-small btn-danger" href="{{ path('ticket_priority_delete', {'id': priority.id}) }}" onclick="return confirm('Are you sure ?');">
                                <i class="icon-fire icon-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No
        {% endif %}
    </div>
{% endblock %}