{% extends "GitonomyTicketingBundle::layout_tracker.html.twig" %}

{% trans_default_domain 'ticketing_bundle' %}

{% block tracker_content %}
    <div class="actionbar">
        <a href="{{ path('ticket_status_create') }}" class="menu">
            <i class="symbol">add</i> {{ 'create'|trans }} {{ 'label.status'|trans }}
        </a>

        {% if statuses %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <th>{{ 'label.isActive'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.title }}</td>
                        <td>{{ status.isActive }}</td>
                        <td>
                            <a rel="tooltip" class="btn btn-small" href="{{ path('ticket_status_update', {id: status.id}) }}">
                                <i class="icon-edit"></i>
                            </a>
                            <a rel="tooltip" class="btn btn-small btn-danger" href="{{ path('ticket_status_delete', {id: status.id}) }}" onclick="return confirm('Are you sure ?');">
                                <i class="icon-fire icon-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No
        {% endif %}
    </div>
{% endblock %}